@{
    ViewData["Title"] = "Confirmation of deleting the contact";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (NOME DO CONTATO)?</h3>
    <br/>
    <a class="btn btn-outline-primary btn-block" role="button">Cancelar</a>
    <a class="btn btn-outline-danger btn-block" role="button">Confirmar</a>
</div>






